body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:434px;
}
#u39797 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:115px;
  width:533px;
  height:434px;
}
#u39798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:209px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39799 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:117px;
  width:120px;
  height:69px;
}
#u39800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u39801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:77px;
}
#u39801 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:304px;
  width:70px;
  height:76px;
}
#u39802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
#u39803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39803 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:416px;
  width:100px;
  height:60px;
}
#u39804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39805 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u39805_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u39805_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-4px;
  width:8px;
  height:112px;
}
#u39805_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:100px;
  width:42px;
  height:8px;
}
#u39805_seg3 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:95px;
  width:19px;
  height:18px;
}
#u39806 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39807 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:416px;
  width:100px;
  height:60px;
}
#u39808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39809 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:446px;
  width:0px;
  height:0px;
}
#u39809_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:389px;
  height:8px;
}
#u39809_seg1 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39810 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39811 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:416px;
  width:100px;
  height:60px;
}
#u39812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39813 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:446px;
  width:0px;
  height:0px;
}
#u39813_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u39813_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39814 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39815 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:232px;
  width:100px;
  height:60px;
}
#u39816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39817 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u39817_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u39817_seg1 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-84px;
  width:8px;
  height:88px;
}
#u39817_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-84px;
  width:40px;
  height:8px;
}
#u39817_seg3 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-89px;
  width:19px;
  height:18px;
}
#u39818 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39819 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:232px;
  width:100px;
  height:60px;
}
#u39820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39821 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:262px;
  width:0px;
  height:0px;
}
#u39821_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u39821_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39822 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39823 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:181px;
  width:100px;
  height:60px;
}
#u39824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39825 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:283px;
  width:100px;
  height:60px;
}
#u39826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39827 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:262px;
  width:0px;
  height:0px;
}
#u39827_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u39827_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-4px;
  width:8px;
  height:59px;
}
#u39827_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:47px;
  width:44px;
  height:8px;
}
#u39827_seg3 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:42px;
  width:19px;
  height:18px;
}
#u39828 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39829 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:262px;
  width:0px;
  height:0px;
}
#u39829_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u39829_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-55px;
  width:8px;
  height:59px;
}
#u39829_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-55px;
  width:44px;
  height:8px;
}
#u39829_seg3 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-60px;
  width:19px;
  height:18px;
}
#u39830 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39831 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:283px;
  width:100px;
  height:60px;
}
#u39832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39833 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:313px;
  width:0px;
  height:0px;
}
#u39833_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u39833_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39834 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39835 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:181px;
  width:100px;
  height:60px;
}
#u39836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39837 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:211px;
  width:0px;
  height:0px;
}
#u39837_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u39837_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39838 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39839 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:283px;
  width:100px;
  height:60px;
}
#u39840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39841 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:313px;
  width:0px;
  height:0px;
}
#u39841_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u39841_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39842 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
