body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2677px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:860px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9995 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:1464px;
  height:860px;
}
#u9996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:14px;
}
#u9998 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:335px;
  width:390px;
  height:190px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:14px;
}
#u9999 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:24px;
  width:372px;
  word-wrap:break-word;
}
#u10000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u10000 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:392px;
  width:354px;
  height:36px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u10001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u10002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u10002 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:475px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10003 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u10004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u10004 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:475px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u10005 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u10006 {
  border-width:0px;
  position:absolute;
  left:2180px;
  top:350px;
  width:0px;
  height:0px;
}
#u10006_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u10006_seg1 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-11px;
  width:23px;
  height:22px;
}
#u10007 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10008_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10008 {
  border-width:0px;
  position:absolute;
  left:2150px;
  top:335px;
  width:30px;
  height:30px;
}
#u10009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u10011 {
  border-width:0px;
  position:absolute;
  left:2366px;
  top:335px;
  width:240px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u10012 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u10013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u10013 {
  border-width:0px;
  position:absolute;
  left:2377px;
  top:344px;
  width:16px;
  height:17px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#00A854;
}
#u10014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u10015 {
  border-width:0px;
  position:absolute;
  left:2177px;
  top:379px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u10016 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u10017 {
  border-width:0px;
  position:absolute;
  left:2180px;
  top:442px;
  width:0px;
  height:0px;
}
#u10017_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u10017_seg1 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-11px;
  width:23px;
  height:22px;
}
#u10018 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10019_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10019 {
  border-width:0px;
  position:absolute;
  left:2150px;
  top:427px;
  width:30px;
  height:30px;
}
#u10020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u10022 {
  border-width:0px;
  position:absolute;
  left:2366px;
  top:427px;
  width:240px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u10023 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u10024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u10024 {
  border-width:0px;
  position:absolute;
  left:2377px;
  top:436px;
  width:16px;
  height:17px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#F04134;
}
#u10025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u10026 {
  border-width:0px;
  position:absolute;
  left:2177px;
  top:463px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u10027 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u10028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:334px;
}
#u10028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:334px;
}
#u10028_ref {
  border-width:0px;
  position:absolute;
  left:492px;
  top:324px;
  width:1px;
  height:1px;
}
#u10029_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u10029 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:10px;
  width:200px;
  height:5px;
}
#u10030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
