body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2164px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:300px;
}
#u19322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:300px;
}
#u19322_ref {
  border-width:0px;
  position:absolute;
  left:493px;
  top:290px;
  width:1px;
  height:1px;
}
#u19323_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u19323 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:9px;
  width:200px;
  height:5px;
}
#u19324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:860px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19325 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:1464px;
  height:860px;
}
#u19326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u19327 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:90px;
  width:642px;
  height:409px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u19328 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:55px;
}
#u19330 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:90px;
  width:641px;
  height:54px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u19331 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:18px;
  width:609px;
  word-wrap:break-word;
}
#u19332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:2px;
}
#u19333 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:143px;
  width:641px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u19334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19335 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:143px;
  width:641px;
  height:16px;
}
#u19336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19338 {
  border-width:0px;
  position:absolute;
  left:1554px;
  top:90px;
  width:24px;
  height:16px;
  overflow:hidden;
}
#u19338_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19338_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19339 {
  border-width:0px;
  position:absolute;
  left:1545px;
  top:112px;
  width:10px;
  height:10px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u19340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:2px;
}
#u19344 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:464px;
  width:641px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u19345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19346 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:448px;
  width:641px;
  height:16px;
}
#u19347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:55px;
}
#u19348 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:465px;
  width:641px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u19349 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:19px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u19350 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:183px;
  width:96px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u19351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u19352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u19352 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:183px;
  width:472px;
  height:92px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u19353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u19354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u19354 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:305px;
  width:96px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u19355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u19356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u19356 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:305px;
  width:472px;
  height:92px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u19357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u19358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u19360 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:479px;
  width:57px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u19361 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:25px;
  white-space:nowrap;
}
#u19362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u19362 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:479px;
  width:69px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u19363 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:37px;
  white-space:nowrap;
}
