body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2164px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:300px;
}
#u23121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:300px;
}
#u23121_ref {
  border-width:0px;
  position:absolute;
  left:493px;
  top:290px;
  width:1px;
  height:1px;
}
#u23122_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u23122 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:9px;
  width:200px;
  height:5px;
}
#u23123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:860px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23124 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:1464px;
  height:860px;
}
#u23125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23126 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:90px;
  width:642px;
  height:409px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23127 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:55px;
}
#u23129 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:90px;
  width:641px;
  height:54px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23130 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:18px;
  width:609px;
  word-wrap:break-word;
}
#u23131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:2px;
}
#u23132 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:143px;
  width:641px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23134 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:143px;
  width:641px;
  height:16px;
}
#u23135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23137 {
  border-width:0px;
  position:absolute;
  left:1554px;
  top:90px;
  width:24px;
  height:16px;
  overflow:hidden;
}
#u23137_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23137_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23138 {
  border-width:0px;
  position:absolute;
  left:1545px;
  top:112px;
  width:10px;
  height:10px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:2px;
}
#u23143 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:464px;
  width:641px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23145 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:448px;
  width:641px;
  height:16px;
}
#u23146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:55px;
}
#u23147 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:465px;
  width:641px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u23148 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:19px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u23149 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:183px;
  width:96px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u23150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u23151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u23151 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:183px;
  width:472px;
  height:92px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u23152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u23153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u23153 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:305px;
  width:96px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u23154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u23155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u23155 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:305px;
  width:472px;
  height:92px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u23156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u23157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u23159 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:479px;
  width:57px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u23160 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:25px;
  white-space:nowrap;
}
#u23161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23161 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:479px;
  width:69px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23162 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:37px;
  white-space:nowrap;
}
