body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1886px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:557px;
}
#u39721 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:58px;
  width:902px;
  height:557px;
}
#u39722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39723 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u39723_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u39723_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-198px;
  width:8px;
  height:202px;
}
#u39723_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-198px;
  width:48px;
  height:8px;
}
#u39723_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-203px;
  width:19px;
  height:18px;
}
#u39724 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-85px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u39725 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:302px;
  width:50px;
  height:80px;
}
#u39726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u39727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:267px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39727 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:521px;
  width:205px;
  height:267px;
}
#u39728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39729 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:118px;
  width:100px;
  height:60px;
}
#u39730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39731 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:442px;
  width:100px;
  height:60px;
}
#u39732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39733 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:546px;
  width:100px;
  height:60px;
}
#u39734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39735 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:622px;
  width:100px;
  height:60px;
}
#u39736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39737 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:615px;
  width:100px;
  height:60px;
}
#u39738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39739 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:615px;
  width:100px;
  height:60px;
}
#u39740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39741 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:645px;
  width:0px;
  height:0px;
}
#u39741_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u39741_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39742 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39743 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:726px;
  width:100px;
  height:60px;
}
#u39744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39745 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:726px;
  width:100px;
  height:60px;
}
#u39746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39747 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:756px;
  width:0px;
  height:0px;
}
#u39747_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u39747_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39748 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39749 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:703px;
  width:100px;
  height:60px;
}
#u39750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39751 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:237px;
  width:100px;
  height:60px;
}
#u39752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39753 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:118px;
  width:100px;
  height:60px;
}
#u39754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39755 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:148px;
  width:0px;
  height:0px;
}
#u39755_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u39755_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39756 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39757 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:118px;
  width:100px;
  height:60px;
}
#u39758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39759 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:148px;
  width:0px;
  height:0px;
}
#u39759_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u39759_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39760 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39761 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:118px;
  width:0px;
  height:0px;
}
#u39761_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-36px;
  width:8px;
  height:36px;
}
#u39761_seg1 {
  border-width:0px;
  position:absolute;
  left:-381px;
  top:-36px;
  width:385px;
  height:8px;
}
#u39761_seg2 {
  border-width:0px;
  position:absolute;
  left:-381px;
  top:-36px;
  width:8px;
  height:220px;
}
#u39761_seg3 {
  border-width:0px;
  position:absolute;
  left:-386px;
  top:171px;
  width:18px;
  height:19px;
}
#u39762 {
  border-width:0px;
  position:absolute;
  left:-330px;
  top:-41px;
  width:100px;
  word-wrap:break-word;
}
#u39763 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:178px;
  width:0px;
  height:0px;
}
#u39763_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u39763_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:370px;
  height:8px;
}
#u39763_seg2 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:8px;
  height:24px;
}
#u39763_seg3 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:-6px;
  width:18px;
  height:19px;
}
#u39764 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u39765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39765 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:237px;
  width:100px;
  height:60px;
}
#u39766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39767 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:267px;
  width:0px;
  height:0px;
}
#u39767_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u39767_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39768 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39769 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:237px;
  width:100px;
  height:60px;
}
#u39770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39771 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:267px;
  width:0px;
  height:0px;
}
#u39771_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:219px;
  height:8px;
}
#u39771_seg1 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39772 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39773 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u39773_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u39773_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-79px;
  width:8px;
  height:83px;
}
#u39773_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-79px;
  width:48px;
  height:8px;
}
#u39773_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-84px;
  width:19px;
  height:18px;
}
#u39774 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39775 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:237px;
  width:0px;
  height:0px;
}
#u39775_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-213px;
  width:8px;
  height:213px;
}
#u39775_seg1 {
  border-width:0px;
  position:absolute;
  left:-696px;
  top:-213px;
  width:700px;
  height:8px;
}
#u39775_seg2 {
  border-width:0px;
  position:absolute;
  left:-696px;
  top:-213px;
  width:8px;
  height:278px;
}
#u39775_seg3 {
  border-width:0px;
  position:absolute;
  left:-701px;
  top:52px;
  width:18px;
  height:19px;
}
#u39776 {
  border-width:0px;
  position:absolute;
  left:-429px;
  top:-218px;
  width:100px;
  word-wrap:break-word;
}
#u39777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39777 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:442px;
  width:100px;
  height:60px;
}
#u39778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39779 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:442px;
  width:100px;
  height:60px;
}
#u39780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39781 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:472px;
  width:0px;
  height:0px;
}
#u39781_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u39781_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39782 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39783 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:472px;
  width:0px;
  height:0px;
}
#u39783_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u39783_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39784 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39785 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u39785_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u39785_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-4px;
  width:8px;
  height:138px;
}
#u39785_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:126px;
  width:48px;
  height:8px;
}
#u39785_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:121px;
  width:19px;
  height:18px;
}
#u39786 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39787 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:322px;
  width:100px;
  height:60px;
}
#u39788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39789 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:322px;
  width:0px;
  height:0px;
}
#u39789_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-51px;
  width:8px;
  height:55px;
}
#u39789_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u39789_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-57px;
  width:18px;
  height:18px;
}
#u39790 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39791 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:382px;
  width:0px;
  height:0px;
}
#u39791_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:277px;
}
#u39791_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:269px;
  width:105px;
  height:8px;
}
#u39791_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:264px;
  width:19px;
  height:18px;
}
#u39792 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:179px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39793 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:625px;
  width:100px;
  height:60px;
}
#u39794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39795 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:655px;
  width:0px;
  height:0px;
}
#u39795_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u39795_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39796 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
