body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1886px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:557px;
}
#u34371 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:58px;
  width:902px;
  height:557px;
}
#u34372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34373 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u34373_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u34373_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-198px;
  width:8px;
  height:202px;
}
#u34373_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-198px;
  width:48px;
  height:8px;
}
#u34373_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-203px;
  width:19px;
  height:18px;
}
#u34374 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-85px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u34375 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:302px;
  width:50px;
  height:80px;
}
#u34376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u34377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:267px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34377 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:521px;
  width:205px;
  height:267px;
}
#u34378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34379 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:118px;
  width:100px;
  height:60px;
}
#u34380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34381 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:442px;
  width:100px;
  height:60px;
}
#u34382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34383 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:546px;
  width:100px;
  height:60px;
}
#u34384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34385 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:622px;
  width:100px;
  height:60px;
}
#u34386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34387 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:615px;
  width:100px;
  height:60px;
}
#u34388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34389 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:615px;
  width:100px;
  height:60px;
}
#u34390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34391 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:645px;
  width:0px;
  height:0px;
}
#u34391_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u34391_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34392 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u34393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34393 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:726px;
  width:100px;
  height:60px;
}
#u34394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34395 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:726px;
  width:100px;
  height:60px;
}
#u34396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34397 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:756px;
  width:0px;
  height:0px;
}
#u34397_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u34397_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34398 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u34399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34399 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:703px;
  width:100px;
  height:60px;
}
#u34400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34401 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:237px;
  width:100px;
  height:60px;
}
#u34402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34403 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:118px;
  width:100px;
  height:60px;
}
#u34404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34405 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:148px;
  width:0px;
  height:0px;
}
#u34405_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u34405_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34406 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34407 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:118px;
  width:100px;
  height:60px;
}
#u34408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34409 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:148px;
  width:0px;
  height:0px;
}
#u34409_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u34409_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34410 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u34411 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:118px;
  width:0px;
  height:0px;
}
#u34411_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-36px;
  width:8px;
  height:36px;
}
#u34411_seg1 {
  border-width:0px;
  position:absolute;
  left:-381px;
  top:-36px;
  width:385px;
  height:8px;
}
#u34411_seg2 {
  border-width:0px;
  position:absolute;
  left:-381px;
  top:-36px;
  width:8px;
  height:220px;
}
#u34411_seg3 {
  border-width:0px;
  position:absolute;
  left:-386px;
  top:171px;
  width:18px;
  height:19px;
}
#u34412 {
  border-width:0px;
  position:absolute;
  left:-330px;
  top:-41px;
  width:100px;
  word-wrap:break-word;
}
#u34413 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:178px;
  width:0px;
  height:0px;
}
#u34413_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u34413_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:370px;
  height:8px;
}
#u34413_seg2 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:8px;
  height:24px;
}
#u34413_seg3 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:-6px;
  width:18px;
  height:19px;
}
#u34414 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u34415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34415 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:237px;
  width:100px;
  height:60px;
}
#u34416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34417 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:267px;
  width:0px;
  height:0px;
}
#u34417_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u34417_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34418 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34419 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:237px;
  width:100px;
  height:60px;
}
#u34420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34421 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:267px;
  width:0px;
  height:0px;
}
#u34421_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:219px;
  height:8px;
}
#u34421_seg1 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34422 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34423 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u34423_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u34423_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-79px;
  width:8px;
  height:83px;
}
#u34423_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-79px;
  width:48px;
  height:8px;
}
#u34423_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-84px;
  width:19px;
  height:18px;
}
#u34424 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34425 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:237px;
  width:0px;
  height:0px;
}
#u34425_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-213px;
  width:8px;
  height:213px;
}
#u34425_seg1 {
  border-width:0px;
  position:absolute;
  left:-696px;
  top:-213px;
  width:700px;
  height:8px;
}
#u34425_seg2 {
  border-width:0px;
  position:absolute;
  left:-696px;
  top:-213px;
  width:8px;
  height:278px;
}
#u34425_seg3 {
  border-width:0px;
  position:absolute;
  left:-701px;
  top:52px;
  width:18px;
  height:19px;
}
#u34426 {
  border-width:0px;
  position:absolute;
  left:-429px;
  top:-218px;
  width:100px;
  word-wrap:break-word;
}
#u34427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34427 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:442px;
  width:100px;
  height:60px;
}
#u34428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34429 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:442px;
  width:100px;
  height:60px;
}
#u34430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34431 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:472px;
  width:0px;
  height:0px;
}
#u34431_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u34431_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34432 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34433 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:472px;
  width:0px;
  height:0px;
}
#u34433_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u34433_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34434 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34435 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:342px;
  width:0px;
  height:0px;
}
#u34435_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u34435_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-4px;
  width:8px;
  height:138px;
}
#u34435_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:126px;
  width:48px;
  height:8px;
}
#u34435_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:121px;
  width:19px;
  height:18px;
}
#u34436 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34437 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:322px;
  width:100px;
  height:60px;
}
#u34438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34439 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:322px;
  width:0px;
  height:0px;
}
#u34439_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-51px;
  width:8px;
  height:55px;
}
#u34439_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u34439_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-57px;
  width:18px;
  height:18px;
}
#u34440 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34441 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:382px;
  width:0px;
  height:0px;
}
#u34441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:277px;
}
#u34441_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:269px;
  width:105px;
  height:8px;
}
#u34441_seg2 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:264px;
  width:19px;
  height:18px;
}
#u34442 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:179px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34443 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:625px;
  width:100px;
  height:60px;
}
#u34444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34445 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:655px;
  width:0px;
  height:0px;
}
#u34445_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u34445_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34446 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
