body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1115px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:77px;
}
#u34557 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:404px;
  width:48px;
  height:76px;
}
#u34558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:44px;
  word-wrap:break-word;
}
#u34559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34559 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:312px;
  width:100px;
  height:60px;
}
#u34560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34561 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:312px;
  width:100px;
  height:60px;
}
#u34562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34563 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:442px;
  width:0px;
  height:0px;
}
#u34563_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u34563_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-104px;
  width:8px;
  height:108px;
}
#u34563_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-104px;
  width:18px;
  height:8px;
}
#u34563_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-109px;
  width:19px;
  height:18px;
}
#u34564 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34565 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:342px;
  width:0px;
  height:0px;
}
#u34565_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u34565_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34566 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34567 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:187px;
  width:100px;
  height:60px;
}
#u34568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34569 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:529px;
  width:100px;
  height:60px;
}
#u34570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34571 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:442px;
  width:0px;
  height:0px;
}
#u34571_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u34571_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:125px;
}
#u34571_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:113px;
  width:184px;
  height:8px;
}
#u34571_seg3 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:108px;
  width:19px;
  height:18px;
}
#u34572 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:109px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34573 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:342px;
  width:0px;
  height:0px;
}
#u34573_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u34573_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-129px;
  width:8px;
  height:133px;
}
#u34573_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-129px;
  width:48px;
  height:8px;
}
#u34573_seg3 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-134px;
  width:19px;
  height:18px;
}
#u34574 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-76px;
  width:100px;
  word-wrap:break-word;
}
#u34575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34575 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:132px;
  width:158px;
  height:170px;
}
#u34576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34577 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:148px;
  width:100px;
  height:60px;
}
#u34578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34579 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:226px;
  width:100px;
  height:60px;
}
#u34580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34581 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:349px;
  width:158px;
  height:170px;
}
#u34582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34583 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:365px;
  width:100px;
  height:60px;
}
#u34584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34585 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:443px;
  width:100px;
  height:60px;
}
#u34586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34587 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:342px;
  width:0px;
  height:0px;
}
#u34587_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u34587_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:100px;
}
#u34587_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:88px;
  width:48px;
  height:8px;
}
#u34587_seg3 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:83px;
  width:19px;
  height:18px;
}
#u34588 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u34589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34589 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:187px;
  width:100px;
  height:60px;
}
#u34590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34591 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:217px;
  width:0px;
  height:0px;
}
#u34591_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u34591_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34592 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34593 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:217px;
  width:0px;
  height:0px;
}
#u34593_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u34593_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34594 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u34595 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:187px;
  width:0px;
  height:0px;
}
#u34595_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-101px;
  width:8px;
  height:101px;
}
#u34595_seg1 {
  border-width:0px;
  position:absolute;
  left:-400px;
  top:-101px;
  width:404px;
  height:8px;
}
#u34595_seg2 {
  border-width:0px;
  position:absolute;
  left:-400px;
  top:-101px;
  width:8px;
  height:226px;
}
#u34595_seg3 {
  border-width:0px;
  position:absolute;
  left:-405px;
  top:112px;
  width:18px;
  height:19px;
}
#u34596 {
  border-width:0px;
  position:absolute;
  left:-310px;
  top:-106px;
  width:100px;
  word-wrap:break-word;
}
#u34597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34597 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:365px;
  width:100px;
  height:60px;
}
#u34598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34599 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:395px;
  width:0px;
  height:0px;
}
#u34599_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u34599_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34600 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34601 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:365px;
  width:100px;
  height:60px;
}
#u34602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34603 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:395px;
  width:0px;
  height:0px;
}
#u34603_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u34603_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34604 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34605 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:365px;
  width:100px;
  height:60px;
}
#u34606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34607 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:395px;
  width:0px;
  height:0px;
}
#u34607_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u34607_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34608 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u34609 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:365px;
  width:0px;
  height:0px;
}
#u34609_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-40px;
  width:8px;
  height:40px;
}
#u34609_seg1 {
  border-width:0px;
  position:absolute;
  left:-490px;
  top:-40px;
  width:494px;
  height:8px;
}
#u34609_seg2 {
  border-width:0px;
  position:absolute;
  left:-496px;
  top:-45px;
  width:19px;
  height:18px;
}
#u34610 {
  border-width:0px;
  position:absolute;
  left:-277px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34611 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:494px;
  width:100px;
  height:60px;
}
#u34612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34613 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:473px;
  width:0px;
  height:0px;
}
#u34613_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u34613_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-4px;
  width:8px;
  height:59px;
}
#u34613_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:47px;
  width:21px;
  height:8px;
}
#u34613_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:42px;
  width:19px;
  height:18px;
}
#u34614 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34615 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:559px;
  width:0px;
  height:0px;
}
#u34615_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:283px;
  height:8px;
}
#u34615_seg1 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:-39px;
  width:8px;
  height:43px;
}
#u34615_seg2 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:-39px;
  width:21px;
  height:8px;
}
#u34615_seg3 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:-44px;
  width:19px;
  height:18px;
}
#u34616 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
