body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:874px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34337 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:282px;
  width:0px;
  height:0px;
}
#u34337_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u34337_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-42px;
  width:8px;
  height:46px;
}
#u34337_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-42px;
  width:16px;
  height:8px;
}
#u34337_seg3 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-47px;
  width:19px;
  height:18px;
}
#u34338 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u34339 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:242px;
  width:50px;
  height:80px;
}
#u34340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u34341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34341 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:214px;
  width:100px;
  height:60px;
}
#u34342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34343 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:375px;
  width:100px;
  height:60px;
}
#u34344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34345 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:170px;
  width:100px;
  height:60px;
}
#u34346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34347 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:170px;
  width:100px;
  height:60px;
}
#u34348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34349 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:200px;
  width:0px;
  height:0px;
}
#u34349_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u34349_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34350 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u34351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34351 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:262px;
  width:100px;
  height:60px;
}
#u34352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34353 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:282px;
  width:0px;
  height:0px;
}
#u34353_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u34353_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:131px;
}
#u34353_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:119px;
  width:448px;
  height:8px;
}
#u34353_seg3 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:114px;
  width:19px;
  height:18px;
}
#u34354 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:115px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34355 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:66px;
  width:100px;
  height:60px;
}
#u34356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34357 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:170px;
  width:100px;
  height:60px;
}
#u34358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34359 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:244px;
  width:0px;
  height:0px;
}
#u34359_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u34359_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-48px;
  width:8px;
  height:52px;
}
#u34359_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-48px;
  width:23px;
  height:8px;
}
#u34359_seg3 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-53px;
  width:19px;
  height:18px;
}
#u34360 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34361 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:262px;
  width:100px;
  height:60px;
}
#u34362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34363 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:244px;
  width:0px;
  height:0px;
}
#u34363_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u34363_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-4px;
  width:8px;
  height:56px;
}
#u34363_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:44px;
  width:23px;
  height:8px;
}
#u34363_seg3 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:19px;
  height:18px;
}
#u34364 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34365 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:200px;
  width:0px;
  height:0px;
}
#u34365_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u34365_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34366 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34367 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:170px;
  width:0px;
  height:0px;
}
#u34367_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:8px;
  height:37px;
}
#u34367_seg1 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:-37px;
  width:284px;
  height:8px;
}
#u34367_seg2 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:-37px;
  width:8px;
  height:81px;
}
#u34367_seg3 {
  border-width:0px;
  position:absolute;
  left:-285px;
  top:31px;
  width:18px;
  height:19px;
}
#u34368 {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
}
#u34369 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:292px;
  width:0px;
  height:0px;
}
#u34369_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u34369_seg1 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34370 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
