body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:874px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39687 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:282px;
  width:0px;
  height:0px;
}
#u39687_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u39687_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-42px;
  width:8px;
  height:46px;
}
#u39687_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-42px;
  width:16px;
  height:8px;
}
#u39687_seg3 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-47px;
  width:19px;
  height:18px;
}
#u39688 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u39689 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:242px;
  width:50px;
  height:80px;
}
#u39690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u39691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39691 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:214px;
  width:100px;
  height:60px;
}
#u39692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39693 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:375px;
  width:100px;
  height:60px;
}
#u39694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39695 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:170px;
  width:100px;
  height:60px;
}
#u39696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39697 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:170px;
  width:100px;
  height:60px;
}
#u39698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39699 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:200px;
  width:0px;
  height:0px;
}
#u39699_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u39699_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39700 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39701 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:262px;
  width:100px;
  height:60px;
}
#u39702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39703 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:282px;
  width:0px;
  height:0px;
}
#u39703_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u39703_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:131px;
}
#u39703_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:119px;
  width:448px;
  height:8px;
}
#u39703_seg3 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:114px;
  width:19px;
  height:18px;
}
#u39704 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:115px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u39705 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:66px;
  width:100px;
  height:60px;
}
#u39706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39707 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:170px;
  width:100px;
  height:60px;
}
#u39708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39709 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:244px;
  width:0px;
  height:0px;
}
#u39709_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u39709_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-48px;
  width:8px;
  height:52px;
}
#u39709_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-48px;
  width:23px;
  height:8px;
}
#u39709_seg3 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-53px;
  width:19px;
  height:18px;
}
#u39710 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39711 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:262px;
  width:100px;
  height:60px;
}
#u39712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39713 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:244px;
  width:0px;
  height:0px;
}
#u39713_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u39713_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-4px;
  width:8px;
  height:56px;
}
#u39713_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:44px;
  width:23px;
  height:8px;
}
#u39713_seg3 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:19px;
  height:18px;
}
#u39714 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39715 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:200px;
  width:0px;
  height:0px;
}
#u39715_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u39715_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39716 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39717 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:170px;
  width:0px;
  height:0px;
}
#u39717_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:8px;
  height:37px;
}
#u39717_seg1 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:-37px;
  width:284px;
  height:8px;
}
#u39717_seg2 {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:-37px;
  width:8px;
  height:81px;
}
#u39717_seg3 {
  border-width:0px;
  position:absolute;
  left:-285px;
  top:31px;
  width:18px;
  height:19px;
}
#u39718 {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
}
#u39719 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:292px;
  width:0px;
  height:0px;
}
#u39719_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u39719_seg1 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39720 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
