body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:786px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34617 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:310px;
  width:100px;
  height:60px;
}
#u34618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34619 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:310px;
  width:100px;
  height:60px;
}
#u34620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34621 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:340px;
  width:0px;
  height:0px;
}
#u34621_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u34621_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34622 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:77px;
}
#u34623 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:150px;
  width:48px;
  height:76px;
}
#u34624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:44px;
  word-wrap:break-word;
}
#u34625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34625 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:310px;
  width:100px;
  height:60px;
}
#u34626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34627 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:340px;
  width:0px;
  height:0px;
}
#u34627_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u34627_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34628 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34629 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:226px;
  width:0px;
  height:0px;
}
#u34629_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u34629_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:71px;
  width:18px;
  height:19px;
}
#u34630 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34631 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:310px;
  width:100px;
  height:60px;
}
#u34632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34633 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:340px;
  width:0px;
  height:0px;
}
#u34633_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u34633_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34634 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u34635 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:370px;
  width:0px;
  height:0px;
}
#u34635_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u34635_seg1 {
  border-width:0px;
  position:absolute;
  left:-358px;
  top:44px;
  width:362px;
  height:8px;
}
#u34635_seg2 {
  border-width:0px;
  position:absolute;
  left:-358px;
  top:0px;
  width:8px;
  height:52px;
}
#u34635_seg3 {
  border-width:0px;
  position:absolute;
  left:-363px;
  top:-6px;
  width:18px;
  height:19px;
}
#u34636 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:39px;
  width:100px;
  word-wrap:break-word;
}
