body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39651 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:282px;
  width:0px;
  height:0px;
}
#u39651_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u39651_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39652 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u39653 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:242px;
  width:50px;
  height:80px;
}
#u39654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u39655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:327px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39655 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:118px;
  width:205px;
  height:327px;
}
#u39656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39657 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:137px;
  width:100px;
  height:60px;
}
#u39658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39659 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:213px;
  width:100px;
  height:60px;
}
#u39660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39661 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:288px;
  width:100px;
  height:60px;
}
#u39662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39663 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:364px;
  width:100px;
  height:60px;
}
#u39664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39665 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:177px;
  width:100px;
  height:60px;
}
#u39666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39667 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:167px;
  width:0px;
  height:0px;
}
#u39667_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u39667_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-4px;
  width:8px;
  height:48px;
}
#u39667_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:36px;
  width:16px;
  height:8px;
}
#u39667_seg3 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:31px;
  width:19px;
  height:18px;
}
#u39668 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39669 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:243px;
  width:0px;
  height:0px;
}
#u39669_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u39669_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-40px;
  width:8px;
  height:44px;
}
#u39669_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-40px;
  width:16px;
  height:8px;
}
#u39669_seg3 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-45px;
  width:19px;
  height:18px;
}
#u39670 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39671 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:177px;
  width:100px;
  height:60px;
}
#u39672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39673 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:207px;
  width:0px;
  height:0px;
}
#u39673_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u39673_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39674 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39675 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:177px;
  width:0px;
  height:0px;
}
#u39675_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-97px;
  width:8px;
  height:97px;
}
#u39675_seg1 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-97px;
  width:217px;
  height:8px;
}
#u39675_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-97px;
  width:8px;
  height:38px;
}
#u39675_seg3 {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:-72px;
  width:18px;
  height:19px;
}
#u39676 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-102px;
  width:100px;
  word-wrap:break-word;
}
#u39677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39677 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:288px;
  width:100px;
  height:60px;
}
#u39678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39679 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:318px;
  width:0px;
  height:0px;
}
#u39679_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u39679_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39680 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39681 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:288px;
  width:100px;
  height:60px;
}
#u39682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39683 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:318px;
  width:0px;
  height:0px;
}
#u39683_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u39683_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39684 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39685 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:288px;
  width:0px;
  height:0px;
}
#u39685_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:8px;
  height:10px;
}
#u39685_seg1 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:-10px;
  width:111px;
  height:8px;
}
#u39685_seg2 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:-15px;
  width:19px;
  height:18px;
}
#u39686 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
