body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38612 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:282px;
  width:0px;
  height:0px;
}
#u38612_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u38612_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-9px;
  width:19px;
  height:18px;
}
#u38613 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u38614 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:242px;
  width:50px;
  height:80px;
}
#u38615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u38616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:327px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38616 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:118px;
  width:205px;
  height:327px;
}
#u38617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38618 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:137px;
  width:100px;
  height:60px;
}
#u38619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38620 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:213px;
  width:100px;
  height:60px;
}
#u38621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38622 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:288px;
  width:100px;
  height:60px;
}
#u38623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38624 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:364px;
  width:100px;
  height:60px;
}
#u38625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38626 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:177px;
  width:100px;
  height:60px;
}
#u38627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u38628 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:167px;
  width:0px;
  height:0px;
}
#u38628_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u38628_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-4px;
  width:8px;
  height:48px;
}
#u38628_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:36px;
  width:16px;
  height:8px;
}
#u38628_seg3 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:31px;
  width:19px;
  height:18px;
}
#u38629 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38630 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:243px;
  width:0px;
  height:0px;
}
#u38630_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u38630_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-40px;
  width:8px;
  height:44px;
}
#u38630_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-40px;
  width:16px;
  height:8px;
}
#u38630_seg3 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-45px;
  width:19px;
  height:18px;
}
#u38631 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38632 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:177px;
  width:100px;
  height:60px;
}
#u38633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38634 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:207px;
  width:0px;
  height:0px;
}
#u38634_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u38634_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u38635 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u38636 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:177px;
  width:0px;
  height:0px;
}
#u38636_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-97px;
  width:8px;
  height:97px;
}
#u38636_seg1 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-97px;
  width:217px;
  height:8px;
}
#u38636_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-97px;
  width:8px;
  height:38px;
}
#u38636_seg3 {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:-72px;
  width:18px;
  height:19px;
}
#u38637 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-102px;
  width:100px;
  word-wrap:break-word;
}
#u38638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38638 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:288px;
  width:100px;
  height:60px;
}
#u38639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38640 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:318px;
  width:0px;
  height:0px;
}
#u38640_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u38640_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-9px;
  width:19px;
  height:18px;
}
#u38641 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38642 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:288px;
  width:100px;
  height:60px;
}
#u38643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38644 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:318px;
  width:0px;
  height:0px;
}
#u38644_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u38644_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u38645 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u38646 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:288px;
  width:0px;
  height:0px;
}
#u38646_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:8px;
  height:10px;
}
#u38646_seg1 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:-10px;
  width:111px;
  height:8px;
}
#u38646_seg2 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:-15px;
  width:19px;
  height:18px;
}
#u38647 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
