body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:712px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u18079 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:682px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u18080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u18081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u18081 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:682px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u18082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u18083 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:712px;
  width:0px;
  height:0px;
}
#u18083_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:139px;
  height:8px;
}
#u18083_seg1 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-9px;
  width:19px;
  height:18px;
}
#u18084 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u18085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u18085 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:682px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u18086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u18087 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:712px;
  width:0px;
  height:0px;
}
#u18087_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u18087_seg1 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-9px;
  width:19px;
  height:18px;
}
#u18088 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u18089 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:682px;
  width:0px;
  height:0px;
}
#u18089_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-74px;
  width:8px;
  height:74px;
}
#u18089_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-74px;
  width:243px;
  height:8px;
}
#u18089_seg2 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-74px;
  width:8px;
  height:74px;
}
#u18089_seg3 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-13px;
  width:18px;
  height:19px;
}
#u18090 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-79px;
  width:100px;
  word-wrap:break-word;
}
#u18091 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:742px;
  width:0px;
  height:0px;
}
#u18091_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u18091_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:45px;
  width:235px;
  height:8px;
}
#u18091_seg2 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:0px;
  width:8px;
  height:53px;
}
#u18091_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-6px;
  width:18px;
  height:19px;
}
#u18092 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
