body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:860px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23298 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:1464px;
  height:860px;
}
#u23299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23300 {
  border-width:0px;
  position:absolute;
  left:2179px;
  top:142px;
  width:0px;
  height:0px;
}
#u23300_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u23300_seg1 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-11px;
  width:23px;
  height:22px;
}
#u23301 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23302_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23302 {
  border-width:0px;
  position:absolute;
  left:2149px;
  top:127px;
  width:30px;
  height:30px;
}
#u23303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23304 {
  border-width:0px;
  position:absolute;
  left:2365px;
  top:127px;
  width:240px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23305 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u23306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u23306 {
  border-width:0px;
  position:absolute;
  left:2376px;
  top:136px;
  width:16px;
  height:17px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#00A854;
}
#u23307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23308 {
  border-width:0px;
  position:absolute;
  left:2176px;
  top:171px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23309 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23310 {
  border-width:0px;
  position:absolute;
  left:2179px;
  top:234px;
  width:0px;
  height:0px;
}
#u23310_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u23310_seg1 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-11px;
  width:23px;
  height:22px;
}
#u23311 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23312_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23312 {
  border-width:0px;
  position:absolute;
  left:2149px;
  top:219px;
  width:30px;
  height:30px;
}
#u23313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23314 {
  border-width:0px;
  position:absolute;
  left:2365px;
  top:219px;
  width:240px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23315 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u23316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u23316 {
  border-width:0px;
  position:absolute;
  left:2376px;
  top:228px;
  width:16px;
  height:17px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#F04134;
}
#u23317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23318 {
  border-width:0px;
  position:absolute;
  left:2176px;
  top:255px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23319 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23320 {
  border-width:0px;
  position:absolute;
  left:2179px;
  top:322px;
  width:0px;
  height:0px;
}
#u23320_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u23320_seg1 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-11px;
  width:23px;
  height:22px;
}
#u23321 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23322_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u23322 {
  border-width:0px;
  position:absolute;
  left:2149px;
  top:307px;
  width:30px;
  height:30px;
}
#u23323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23324 {
  border-width:0px;
  position:absolute;
  left:2365px;
  top:305px;
  width:240px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23325 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u23326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u23326 {
  border-width:0px;
  position:absolute;
  left:2374px;
  top:314px;
  width:16px;
  height:17px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFBF00;
}
#u23327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23328 {
  border-width:0px;
  position:absolute;
  left:2176px;
  top:341px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23329 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:300px;
}
#u23330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:300px;
}
#u23330_ref {
  border-width:0px;
  position:absolute;
  left:493px;
  top:290px;
  width:1px;
  height:1px;
}
#u23331_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u23331 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:127px;
  width:200px;
  height:5px;
}
#u23332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:565px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23333 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:90px;
  width:990px;
  height:565px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23334 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:958px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:55px;
}
#u23336 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:90px;
  width:990px;
  height:54px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23337 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:18px;
  width:958px;
  word-wrap:break-word;
}
#u23338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:2px;
}
#u23339 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:143px;
  width:990px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23341 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:143px;
  width:990px;
  height:16px;
}
#u23342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23344 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:90px;
  width:24px;
  height:16px;
  overflow:hidden;
}
#u23344_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23344_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23345 {
  border-width:0px;
  position:absolute;
  left:1894px;
  top:112px;
  width:10px;
  height:10px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:2px;
}
#u23350 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:637px;
  width:990px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23352 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:621px;
  width:990px;
  height:16px;
}
#u23353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:55px;
}
#u23354 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:638px;
  width:990px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u23355 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:19px;
  width:958px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23357 {
  border-width:0px;
  position:absolute;
  left:1839px;
  top:648px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23358 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u23359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u23359 {
  border-width:0px;
  position:absolute;
  left:1768px;
  top:648px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u23360 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u23361 {
  border-width:0px;
  position:absolute;
  left:1832px;
  top:655px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u23361_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23361_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23362 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:676px;
  width:24px;
  height:16px;
  overflow:hidden;
}
#u23362_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23362_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23364 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:240px;
  width:79px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  white-space:nowrap;
}
#u23366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23366 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:240px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23367 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23369 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:387px;
  width:79px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  white-space:nowrap;
}
#u23371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u23371 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:387px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u23372 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u23373 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:396px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23376 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:425px;
  width:320px;
  height:72px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23377 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:5px;
}
#u23378 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:487px;
  width:14px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23380 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:497px;
  width:24px;
  height:24px;
}
#u23381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23383 {
  border-width:0px;
  position:absolute;
  left:1459px;
  top:239px;
  width:79px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  white-space:nowrap;
}
#u23385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23385 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:239px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23386 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u23387 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:248px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23390 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:188px;
  width:103px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:95px;
  white-space:nowrap;
}
#u23392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23392 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:188px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23393 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23395 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:521px;
  width:79px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  white-space:nowrap;
}
#u23397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23397 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:521px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23398 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u23400 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:187px;
  width:69px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u23401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u23402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23402 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:187px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23403 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u23404 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:196px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23409 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:292px;
  width:320px;
  height:72px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23410 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:5px;
}
#u23411 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:354px;
  width:14px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23413 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:292px;
  width:79px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  white-space:nowrap;
}
#u23415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23415 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:364px;
  width:24px;
  height:24px;
}
#u23416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23418 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:573px;
  width:79px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:18px;
}
#u23419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  white-space:nowrap;
}
#u23420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23420 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:573px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23421 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23425 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:291px;
  width:320px;
  height:206px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23426 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u23427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:5px;
}
#u23427 {
  border-width:0px;
  position:absolute;
  left:1843px;
  top:485px;
  width:14px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u23429 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:291px;
  width:69px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u23430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u23431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23431 {
  border-width:0px;
  position:absolute;
  left:1547px;
  top:497px;
  width:24px;
  height:24px;
}
#u23432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u23433 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:909px;
  width:81px;
  height:25px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u23434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23435 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:953px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23436 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23437 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:903px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u23438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
