body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:242px;
  width:768px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:57px;
  width:705px;
  height:85px;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:0px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:40px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:404px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:382px;
  word-wrap:break-word;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:166px;
  height:40px;
  text-align:left;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:40px;
  width:130px;
  height:40px;
  text-align:left;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:40px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:40px;
  width:404px;
  height:40px;
  text-align:left;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:382px;
  word-wrap:break-word;
}
