body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2097px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2097px;
  height:2642px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2097px;
  height:2642px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1313px;
  width:2093px;
  visibility:hidden;
  word-wrap:break-word;
}
