body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:792px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u39593 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:305px;
  width:50px;
  height:80px;
}
#u39594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u39595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39595 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:315px;
  width:100px;
  height:60px;
}
#u39596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39597 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:345px;
  width:0px;
  height:0px;
}
#u39597_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u39597_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39598 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39599 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:345px;
  width:0px;
  height:0px;
}
#u39599_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u39599_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-219px;
  width:8px;
  height:223px;
}
#u39599_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-219px;
  width:21px;
  height:8px;
}
#u39599_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-224px;
  width:19px;
  height:18px;
}
#u39600 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-91px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39601 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:30px;
  width:100px;
  height:60px;
}
#u39602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39603 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:100px;
  width:100px;
  height:60px;
}
#u39604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39605 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:315px;
  width:100px;
  height:60px;
}
#u39606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39607 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:345px;
  width:0px;
  height:0px;
}
#u39607_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u39607_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39608 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39609 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:485px;
  width:100px;
  height:60px;
}
#u39610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39611 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:345px;
  width:0px;
  height:0px;
}
#u39611_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u39611_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:178px;
}
#u39611_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:166px;
  width:21px;
  height:8px;
}
#u39611_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:161px;
  width:19px;
  height:18px;
}
#u39612 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39613 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:100px;
  width:100px;
  height:60px;
}
#u39614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39615 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:130px;
  width:0px;
  height:0px;
}
#u39615_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u39615_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39616 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39617 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:100px;
  width:0px;
  height:0px;
}
#u39617_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u39617_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:8px;
  height:48px;
}
#u39617_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:150px;
  height:8px;
}
#u39617_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-49px;
  width:19px;
  height:18px;
}
#u39618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
}
#u39619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39619 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:100px;
  width:100px;
  height:60px;
}
#u39620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39621 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:170px;
  width:100px;
  height:60px;
}
#u39622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39623 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:130px;
  width:0px;
  height:0px;
}
#u39623_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u39623_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39624 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39625 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:160px;
  width:0px;
  height:0px;
}
#u39625_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:4px;
  height:8px;
}
#u39625_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:48px;
}
#u39625_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:149px;
  height:8px;
}
#u39625_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:31px;
  width:19px;
  height:18px;
}
#u39626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u39627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39627 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:245px;
  width:100px;
  height:60px;
}
#u39628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39629 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:315px;
  width:100px;
  height:60px;
}
#u39630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39631 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:315px;
  width:0px;
  height:0px;
}
#u39631_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u39631_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:8px;
  height:48px;
}
#u39631_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:150px;
  height:8px;
}
#u39631_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-49px;
  width:19px;
  height:18px;
}
#u39632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
}
#u39633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39633 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:315px;
  width:100px;
  height:60px;
}
#u39634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39635 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:385px;
  width:100px;
  height:60px;
}
#u39636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39637 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:345px;
  width:0px;
  height:0px;
}
#u39637_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u39637_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39638 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u39639 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:375px;
  width:0px;
  height:0px;
}
#u39639_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:4px;
  height:8px;
}
#u39639_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:48px;
}
#u39639_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:149px;
  height:8px;
}
#u39639_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:31px;
  width:19px;
  height:18px;
}
#u39640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u39641 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:345px;
  width:0px;
  height:0px;
}
#u39641_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u39641_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39642 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39643 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:485px;
  width:100px;
  height:60px;
}
#u39644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39645 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:515px;
  width:0px;
  height:0px;
}
#u39645_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u39645_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39646 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39647 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:485px;
  width:100px;
  height:60px;
}
#u39648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39649 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:515px;
  width:0px;
  height:0px;
}
#u39649_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u39649_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39650 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
