body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:792px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u37769 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:305px;
  width:50px;
  height:80px;
}
#u37770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u37771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37771 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:315px;
  width:100px;
  height:60px;
}
#u37772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37773 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:345px;
  width:0px;
  height:0px;
}
#u37773_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u37773_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37774 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37775 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:345px;
  width:0px;
  height:0px;
}
#u37775_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u37775_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-219px;
  width:8px;
  height:223px;
}
#u37775_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-219px;
  width:21px;
  height:8px;
}
#u37775_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-224px;
  width:19px;
  height:18px;
}
#u37776 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-91px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37777 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:30px;
  width:100px;
  height:60px;
}
#u37778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37779 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:100px;
  width:100px;
  height:60px;
}
#u37780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37781 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:315px;
  width:100px;
  height:60px;
}
#u37782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37783 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:345px;
  width:0px;
  height:0px;
}
#u37783_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u37783_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37784 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37785 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:485px;
  width:100px;
  height:60px;
}
#u37786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37787 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:345px;
  width:0px;
  height:0px;
}
#u37787_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u37787_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:178px;
}
#u37787_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:166px;
  width:21px;
  height:8px;
}
#u37787_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:161px;
  width:19px;
  height:18px;
}
#u37788 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37789 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:100px;
  width:100px;
  height:60px;
}
#u37790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37791 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:130px;
  width:0px;
  height:0px;
}
#u37791_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u37791_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37792 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37793 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:100px;
  width:0px;
  height:0px;
}
#u37793_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u37793_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:8px;
  height:48px;
}
#u37793_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:150px;
  height:8px;
}
#u37793_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-49px;
  width:19px;
  height:18px;
}
#u37794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
}
#u37795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37795 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:100px;
  width:100px;
  height:60px;
}
#u37796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37797 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:170px;
  width:100px;
  height:60px;
}
#u37798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37799 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:130px;
  width:0px;
  height:0px;
}
#u37799_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u37799_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37800 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u37801 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:160px;
  width:0px;
  height:0px;
}
#u37801_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:4px;
  height:8px;
}
#u37801_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:48px;
}
#u37801_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:149px;
  height:8px;
}
#u37801_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:31px;
  width:19px;
  height:18px;
}
#u37802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u37803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37803 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:245px;
  width:100px;
  height:60px;
}
#u37804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37805 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:315px;
  width:100px;
  height:60px;
}
#u37806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37807 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:315px;
  width:0px;
  height:0px;
}
#u37807_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u37807_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:8px;
  height:48px;
}
#u37807_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:150px;
  height:8px;
}
#u37807_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-49px;
  width:19px;
  height:18px;
}
#u37808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
}
#u37809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37809 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:315px;
  width:100px;
  height:60px;
}
#u37810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37811 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:385px;
  width:100px;
  height:60px;
}
#u37812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37813 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:345px;
  width:0px;
  height:0px;
}
#u37813_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u37813_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37814 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u37815 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:375px;
  width:0px;
  height:0px;
}
#u37815_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:4px;
  height:8px;
}
#u37815_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:48px;
}
#u37815_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:149px;
  height:8px;
}
#u37815_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:31px;
  width:19px;
  height:18px;
}
#u37816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u37817 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:345px;
  width:0px;
  height:0px;
}
#u37817_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u37817_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37818 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37819 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:485px;
  width:100px;
  height:60px;
}
#u37820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37821 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:515px;
  width:0px;
  height:0px;
}
#u37821_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u37821_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37822 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37823 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:485px;
  width:100px;
  height:60px;
}
#u37824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37825 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:515px;
  width:0px;
  height:0px;
}
#u37825_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u37825_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37826 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
