body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:132px;
  width:100px;
  height:60px;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:132px;
  width:100px;
  height:60px;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:162px;
  width:0px;
  height:0px;
}
#u5437_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u5437_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:132px;
  width:100px;
  height:60px;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:373px;
  width:100px;
  height:60px;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:192px;
  width:0px;
  height:0px;
}
#u5447_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u5447_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:163px;
  width:22px;
  height:23px;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:403px;
  width:0px;
  height:0px;
}
#u5449_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u5449_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-245px;
  width:8px;
  height:249px;
}
#u5449_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-245px;
  width:40px;
  height:8px;
}
#u5449_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-252px;
  width:23px;
  height:22px;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:250px;
  width:100px;
  height:60px;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:192px;
  width:0px;
  height:0px;
}
#u5453_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u5453_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:23px;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:310px;
  width:0px;
  height:0px;
}
#u5455_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u5455_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:45px;
  width:22px;
  height:23px;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u5457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:132px;
  width:100px;
  height:60px;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:250px;
  width:100px;
  height:60px;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:192px;
  width:0px;
  height:0px;
}
#u5463_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u5463_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:23px;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:310px;
  width:0px;
  height:0px;
}
#u5465_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u5465_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:45px;
  width:22px;
  height:23px;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u5467 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:280px;
  width:0px;
  height:0px;
}
#u5467_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u5467_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-122px;
  width:8px;
  height:126px;
}
#u5467_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-122px;
  width:52px;
  height:8px;
}
#u5467_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-129px;
  width:23px;
  height:22px;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
}
#u5469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:132px;
  width:100px;
  height:60px;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:280px;
  width:0px;
  height:0px;
}
#u5471_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u5471_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-122px;
  width:8px;
  height:126px;
}
#u5471_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-122px;
  width:45px;
  height:8px;
}
#u5471_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-129px;
  width:23px;
  height:22px;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-65px;
  width:100px;
  word-wrap:break-word;
}
#u5473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:192px;
  width:0px;
  height:0px;
}
#u5475_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u5475_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:163px;
  width:22px;
  height:23px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
}
#u5477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5477 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:132px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u5478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5479 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:162px;
  width:0px;
  height:0px;
}
#u5479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u5479_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5480 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5481 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:132px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u5482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:162px;
  width:0px;
  height:0px;
}
#u5483_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u5483_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:192px;
  width:0px;
  height:0px;
}
#u5487_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u5487_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:163px;
  width:22px;
  height:23px;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
