body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:132px;
  width:100px;
  height:60px;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:132px;
  width:100px;
  height:60px;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:162px;
  width:0px;
  height:0px;
}
#u4284_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u4284_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-11px;
  width:23px;
  height:22px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:132px;
  width:100px;
  height:60px;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:373px;
  width:100px;
  height:60px;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:192px;
  width:0px;
  height:0px;
}
#u4294_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u4294_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:163px;
  width:22px;
  height:23px;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4296 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:403px;
  width:0px;
  height:0px;
}
#u4296_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u4296_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-245px;
  width:8px;
  height:249px;
}
#u4296_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-245px;
  width:40px;
  height:8px;
}
#u4296_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-252px;
  width:23px;
  height:22px;
}
#u4297 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:250px;
  width:100px;
  height:60px;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:192px;
  width:0px;
  height:0px;
}
#u4300_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u4300_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:23px;
}
#u4301 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4302 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:310px;
  width:0px;
  height:0px;
}
#u4302_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u4302_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:45px;
  width:22px;
  height:23px;
}
#u4303 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u4304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4304 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:132px;
  width:100px;
  height:60px;
}
#u4305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4306 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:250px;
  width:100px;
  height:60px;
}
#u4307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4308 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u4309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u4310 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:192px;
  width:0px;
  height:0px;
}
#u4310_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u4310_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:23px;
}
#u4311 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4312 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:310px;
  width:0px;
  height:0px;
}
#u4312_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u4312_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:45px;
  width:22px;
  height:23px;
}
#u4313 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u4314 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:280px;
  width:0px;
  height:0px;
}
#u4314_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u4314_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-122px;
  width:8px;
  height:126px;
}
#u4314_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-122px;
  width:52px;
  height:8px;
}
#u4314_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-129px;
  width:23px;
  height:22px;
}
#u4315 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
}
#u4316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4316 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:132px;
  width:100px;
  height:60px;
}
#u4317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4318 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:280px;
  width:0px;
  height:0px;
}
#u4318_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u4318_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-122px;
  width:8px;
  height:126px;
}
#u4318_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-122px;
  width:45px;
  height:8px;
}
#u4318_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-129px;
  width:23px;
  height:22px;
}
#u4319 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-65px;
  width:100px;
  word-wrap:break-word;
}
#u4320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4320 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u4321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4322 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:192px;
  width:0px;
  height:0px;
}
#u4322_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u4322_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:163px;
  width:22px;
  height:23px;
}
#u4323 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
}
#u4324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4324 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:132px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u4325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4326 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:162px;
  width:0px;
  height:0px;
}
#u4326_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u4326_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-11px;
  width:23px;
  height:22px;
}
#u4327 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4328 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:132px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u4329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4330 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:162px;
  width:0px;
  height:0px;
}
#u4330_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u4330_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-11px;
  width:23px;
  height:22px;
}
#u4331 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4332 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:373px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u4333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u4334 {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:192px;
  width:0px;
  height:0px;
}
#u4334_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u4334_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:163px;
  width:22px;
  height:23px;
}
#u4335 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
