body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u17649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:50px;
  height:80px;
}
#u17650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u17651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17651 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:82px;
  width:100px;
  height:60px;
}
#u17652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u17653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17653 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:82px;
  width:100px;
  height:60px;
}
#u17654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u17655 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:112px;
  width:0px;
  height:0px;
}
#u17655_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u17655_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-9px;
  width:19px;
  height:18px;
}
#u17656 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17657 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:112px;
  width:0px;
  height:0px;
}
#u17657_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u17657_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u17658 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17659 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:100px;
  height:60px;
}
#u17660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u17661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17661 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:158px;
  width:100px;
  height:60px;
}
#u17662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u17663 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:82px;
  width:0px;
  height:0px;
}
#u17663_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-56px;
  width:8px;
  height:56px;
}
#u17663_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-56px;
  width:138px;
  height:8px;
}
#u17663_seg2 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-61px;
  width:19px;
  height:18px;
}
#u17664 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-61px;
  width:100px;
  word-wrap:break-word;
}
#u17665 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:142px;
  width:0px;
  height:0px;
}
#u17665_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u17665_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:42px;
  width:138px;
  height:8px;
}
#u17665_seg2 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:37px;
  width:19px;
  height:18px;
}
#u17666 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u17667 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:218px;
  width:0px;
  height:0px;
}
#u17667_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u17667_seg1 {
  border-width:0px;
  position:absolute;
  left:-499px;
  top:38px;
  width:503px;
  height:8px;
}
#u17667_seg2 {
  border-width:0px;
  position:absolute;
  left:-499px;
  top:-66px;
  width:8px;
  height:112px;
}
#u17667_seg3 {
  border-width:0px;
  position:absolute;
  left:-504px;
  top:-72px;
  width:18px;
  height:19px;
}
#u17668 {
  border-width:0px;
  position:absolute;
  left:-330px;
  top:33px;
  width:100px;
  word-wrap:break-word;
}
