body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u39573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:50px;
  height:80px;
}
#u39574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u39575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39575 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:82px;
  width:100px;
  height:60px;
}
#u39576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39577 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:82px;
  width:100px;
  height:60px;
}
#u39578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39579 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:112px;
  width:0px;
  height:0px;
}
#u39579_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u39579_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39580 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39581 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:112px;
  width:0px;
  height:0px;
}
#u39581_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u39581_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u39582 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39583 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:100px;
  height:60px;
}
#u39584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39585 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:158px;
  width:100px;
  height:60px;
}
#u39586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39587 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:82px;
  width:0px;
  height:0px;
}
#u39587_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-56px;
  width:8px;
  height:56px;
}
#u39587_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-56px;
  width:138px;
  height:8px;
}
#u39587_seg2 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-61px;
  width:19px;
  height:18px;
}
#u39588 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-61px;
  width:100px;
  word-wrap:break-word;
}
#u39589 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:142px;
  width:0px;
  height:0px;
}
#u39589_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u39589_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:42px;
  width:138px;
  height:8px;
}
#u39589_seg2 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:37px;
  width:19px;
  height:18px;
}
#u39590 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u39591 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:218px;
  width:0px;
  height:0px;
}
#u39591_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u39591_seg1 {
  border-width:0px;
  position:absolute;
  left:-499px;
  top:38px;
  width:503px;
  height:8px;
}
#u39591_seg2 {
  border-width:0px;
  position:absolute;
  left:-499px;
  top:-66px;
  width:8px;
  height:112px;
}
#u39591_seg3 {
  border-width:0px;
  position:absolute;
  left:-504px;
  top:-72px;
  width:18px;
  height:19px;
}
#u39592 {
  border-width:0px;
  position:absolute;
  left:-330px;
  top:33px;
  width:100px;
  word-wrap:break-word;
}
