body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5093 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:132px;
  width:100px;
  height:60px;
}
#u5094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5095 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:132px;
  width:100px;
  height:60px;
}
#u5096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5097 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:162px;
  width:0px;
  height:0px;
}
#u5097_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u5097_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5098 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5099 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:100px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5101 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:353px;
  width:100px;
  height:60px;
}
#u5102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5103 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:192px;
  width:0px;
  height:0px;
}
#u5103_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:165px;
}
#u5103_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:143px;
  width:22px;
  height:23px;
}
#u5104 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5105 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:132px;
  width:100px;
  height:60px;
}
#u5106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5107 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:383px;
  width:0px;
  height:0px;
}
#u5107_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u5107_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-225px;
  width:8px;
  height:229px;
}
#u5107_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-225px;
  width:37px;
  height:8px;
}
#u5107_seg3 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-232px;
  width:23px;
  height:22px;
}
#u5108 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-119px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5109 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:250px;
  width:100px;
  height:60px;
}
#u5110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5111 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:192px;
  width:0px;
  height:0px;
}
#u5111_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u5111_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:23px;
}
#u5112 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5113 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:353px;
  width:100px;
  height:60px;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:310px;
  width:0px;
  height:0px;
}
#u5115_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u5115_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:25px;
  width:22px;
  height:23px;
}
#u5116 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u5117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:132px;
  width:100px;
  height:60px;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:280px;
  width:0px;
  height:0px;
}
#u5119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u5119_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-122px;
  width:8px;
  height:126px;
}
#u5119_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-122px;
  width:33px;
  height:8px;
}
#u5119_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-129px;
  width:23px;
  height:22px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
}
#u5121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:353px;
  width:100px;
  height:60px;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:192px;
  width:0px;
  height:0px;
}
#u5123_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:165px;
}
#u5123_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:143px;
  width:22px;
  height:23px;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u5125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:132px;
  width:100px;
  height:60px;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:162px;
  width:0px;
  height:0px;
}
#u5127_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u5127_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u5129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5129 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:353px;
  width:100px;
  height:60px;
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:192px;
  width:0px;
  height:0px;
}
#u5131_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:165px;
}
#u5131_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:143px;
  width:22px;
  height:23px;
}
#u5132 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u5133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5133 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:132px;
  width:100px;
  height:60px;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:353px;
  width:100px;
  height:60px;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:192px;
  width:0px;
  height:0px;
}
#u5137_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:165px;
}
#u5137_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:143px;
  width:22px;
  height:23px;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:162px;
  width:0px;
  height:0px;
}
#u5139_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u5139_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u5141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5141 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:132px;
  width:100px;
  height:60px;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:162px;
  width:0px;
  height:0px;
}
#u5143_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u5143_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u5145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5145 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:353px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u5146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:192px;
  width:0px;
  height:0px;
}
#u5147_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:165px;
}
#u5147_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:143px;
  width:22px;
  height:23px;
}
#u5148 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u5149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:132px;
  width:100px;
  height:60px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:162px;
  width:0px;
  height:0px;
}
#u5151_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u5151_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5152 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5153 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:132px;
  width:100px;
  height:60px;
}
#u5154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  word-wrap:break-word;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:162px;
  width:0px;
  height:0px;
}
#u5155_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u5155_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:1656px;
  top:132px;
  width:100px;
  height:60px;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:1579px;
  top:162px;
  width:0px;
  height:0px;
}
#u5159_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u5159_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-11px;
  width:23px;
  height:22px;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
